:root {
  --color: #fff;
  --bg: #D73500;
  --link: #FF6128;
}

* {
  box-sizing: border-box;
}

html, body {
  background: var(--bg);
}
body {
  margin: 0;
  padding: 0;
  color: var(--color);
}

ul {
  list-style: none;
  padding-left: 0;
}

[type="checkbox"] {
  cursor: pointer;
}
